/* importando as fontes do google */
@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Danfo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');



/* Zerar a margens etodos os elementos da página. Margens internas e externas */

/* Vamos adicionar uma imagem ao fundo do header */
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}
    /* Vamos adicioanr uma imagem ao fundo */
header{
    background-color: blue;
    background-image: url("../img/carolina-marinelli-PkbyxvkGWcU-unsplash.jpg");
    /* Ajustar o tamanho da imagem em 100% de largura */
    background-size: 100%;
    /* Ajustar aposição da imagem em x e y */
    background-position: 0px 0px;
    height: 400px;
    padding:30px;

}
nav{
/* tornando o conteúdo da nav flexível. Isso permite que os elementos fiquem um do lado do outro */
    display: flex;
    /* alinhamento vertial dos elementos que estão no nav */
align-items: center;
}
h1{
    /* mudar a cor da letra */
    color: darkolivegreen;
    /* Alterar o tipo da letra */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    /* Alterar o tamanho da caixa (alta ou baixa) */
    text-transform: uppercase;
    margin-right: 150px;
}
ul{
    /* retirar o marcador da lista */
    list-style: none;
}
/* e coloquei header ul li, pq eu idiquei o caminho específico de qual eu queria alterar o display */
header ul li{                                        

    /* Vamos ajustar a disposição(display) dos itens da lista me formato de linha */
    display:inline-block;
    margin: left 5px;
    margin: right 5px;
    padding:5px;
}
header ul li:hover{
    background-color: lime;
}
header ul li a{
    color: #0097a7;
    /* Vamos retirar o underline (sublinhado) */
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
header h2{
    padding: 30px;
    background-color: rgba(255, 0, 0, 0.3);
color:white;
text-align: center;

margin-top: 100px;
font-family: "Danfo", serif;
font-size: 20pt;
font-weight: 100;
text-shadow: 1px 0px 5px rgb(47, 0, 255)
;

}
header p{
    font-family: "Seymour One", sans-serif;
    font-size: 15pt;
        color: gold;
text-align: center;
margin-left: 250px;
margin-right: 250px;
text-shadow: 10px 10px 6px red;
}
footer{
    background-color: rgb(185, 200, 100);
    display: flex;
    justify-content:space-between;
    padding: 50px;
    padding-top: 100px;
    padding-bottom:  100px;
    font-family: arial;
    font-size: 15pt;
    color: #fff;
}
footer #rede li{
/* colocar as redes (quando se usa rede tem que ter o #) em linha */
display: inline-block;
margin-right:  10px;
}

/* ------------ formatação da página index ------------  */
main h2{font-family: "Seymour One", sans-serif;
margin:50px;
font-size: 25pt;
color:rgb(47, 0, 255)
}
main #home p{
    font-family: arial;
    /* Segue o sentido horário: cima, direita, em baixo e  esquerda */
    margin: 0px 50px 50px;
     text-align: justify;  /*alinhar os dois lados*/
     font-size: 12pt;
     
     /* o comando line-height definem
      a altura da linha  (espaçamento entre linhas).
     Estamos usando uma altura de 1,5,
      ou seja, o tamanho da fonte mais meio tamanho da fonte */
     line-height: 18pt;
}
main #imghome img{
    margin: 10px;
    width:200px;
    height: 200px;
    /* arredondar os cantos da imagem */
    border-radius: 10%;
    /* Vamos aplicar um efeito de transparência á imagem usando o comando
     opacity que varia entre 0 e 1, ou seja 
    se você aplicar o comando 0.6, significa que está usando 60% de opacidade.
     Isto representa 60% de visibilidade  */
    opacity: 0.6;
/* O comando transition pode realizar uma animação de transição,
 que você pode configurar o tipo de transição e o tempo da transição */
transition:ease 0.5s;
}
main #imghome img:hover{
    opacity: 1;
}
main #imghome{
    text-align: center;
}
/* -------------------- formatação da página cardapio -------------- */
main #categoriacardapio{
    width: 80%;
    /* vamos centralizar a caixa categoria
    modificando a margem da esquerda e da 
    direita como auto de automático */
    margin-left: auto;
    margin-right: auto;
    /* aplicar a disposição flex para 
    deixar as imagens uma ao lado da outra */
    display: flex;
    /* alinhar o conteudo ao centro */
    justify-content: center;
    margin-top: -50px;
}

.itemcardapio img{
    width: 150px;
    height: 150px;
    border-radius:50%;
    display: block;
    box-shadow: 0px 0px 10px red;
    margin-bottom: 5px;
   
}

.itemcardapio{
    text-align: center;
    margin:5px
}

.itemcardapio a{
    font-family: arial;
    text-decoration: none;
    color:black;
}

/* se vc tem linha q não vai reutilizar, ai vc usa .linha */
.linha{
    display:flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}
.item{
/* divide o 100% do espaço na página e divide pelo número de elementos disponíveis na linha que vão ser divididos, 
mas  como deu quebrado vc coloca um número um pouco menor */
width: 32%;
display: flex;
margin:10px;

}
.item img{
    width:150px;
    height:150px;
    border-radius: 10px;

}
    .item div h3{
       font-family: Arial, Helvetica, sans-serif;
       font-size: 12pt;
       margin:5px;

    }
    .item div p{
        font-family:Arial, Helvetica, sans-serif;
        margin:5px;
        font-size:  10pt;
        line-height: 15pt;
    }
    #cafes h2{
    font-size:  40pt;
    margin-left:200px;

    }
    /* ----------------------Página quem somos ----------------------*/

    main p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10pt;
        line-height: 20pt;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 20px;}
        #video{
            text-align: center;
        }
        #vieo iframe {
            width:80%;
            height:400px;
            margin:50px;
        }
